body {
  margin: 0;
  padding: 0;
}
.title {
  color: green;
  text-align: center;
  margin-bottom: 50px;
}
.parent {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.photo img {
  width: 250px;
}
.details-btn {
  text-decoration: none;
  padding: 15px 35px;
  border: none;
  background-image: linear-gradient(45deg, green, red, green);
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
.details-btn:hover {
  background-color: blue;
  color: white;
}
.second-section {
  text-align: center;
  margin-top: 50px;
}
.dhaka {
  width: 250px;
  border: 1px solid gray;
  box-shadow: 4px 4px 12px gray;
  border-radius: 5px;
  text-align: center;
}
.div-img img {
  width: 100%;
}

.all-divisions {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.middle-section {
  padding: 15px;
}
.details {
  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.details:hover {
  background-color: blue;
  color: white;
  transition: 0.8s ease;
}
